{% extends "base-dash.html.twig" %}
{% block title %}
{{ parent() }}
-
{{ namepage }}
{% endblock %}
{% block namepage %}
<img src="{{asset('Ressources/img/icon/lock.svg')}}" width="30" /> {{ namepage }}
{% endblock %}
{% block body %}
{% for message in app.flashes('old_pass_diff')%}
<div class="col-12" id="FlashMessageDanger">
    Ancien mot de passe incorrect
</div>
{% endfor %}
{% for message in app.flashes('password_changed')%}
<div class="col-12" id="FlashMessageDanger">
    Nouveaux mot de passe non identique
</div>
{% endfor %}

<!-- Features Section End -->

<div class="container">
<div class="row">
    <div class="col-sm-12">
        <div class="block">

            <div class="divtop">
                <div class="divTopBlockLeft" style="width: 100%"><i class="fa fa-key" aria-hidden="true"></i> {{ namepage }}</div>
            </div>

            <div class="contenu">
                <form method="POST" action="{{ path('change_password')}}">

                <div class="form-group">
                    <label>Ancien mot de passe:</label>
                    <input name="old_password" placeholder="Ancien Mot de passe" type="password" class="form-control"
                        required>
                </div>

                <div class="form-group">
                    <label>Nouveau mot de passe:</label>

                    <input name="password" id="password" ng-style="passwordStrength" ng-model="password" ng-change="analyze(password)" placeholder="Nouveau mot de passe" type="password"
                        class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Repeter nouveau mot de passe:</label>
                    <input name="repeat_password" id="confirm_password" placeholder="Repeter" type="password"
                        class="form-control" required>
                </div>

                <p style="text-size:13px"> <strong>Votre mot de passe doit contenir au moins 8 caractères dont une
                        majuscule, un chiffre, et un symbole </strong></p>

                <button type="submit" id="submit_button" class="btn btn-lg btn-block btn-default active ">Valider<i
                        class="ml--8 fa fa-long-arrow-right"></i>
                </button>
                </form>
            </div>

        </div>

    </div>

</div>
</div>

{% endblock %}