{% extends "AppBundle::base.html.twig" %}

{% block title %}
{{ parent() }} - Reset
{% endblock %}

{% block body %}
<div class="card-header">
    <h4>Reset</h4><br>
</div>

{% for message in app.flashes('Utilisateur-Inexistant')%}
    <div class="flash_message_danger" id="FlashMessage">Utilisateur Inexistant</div>
{% endfor %}

<div class="card-body">
    <form method="post" action="{{path('reset_password_change_password') }}" autocomplete="off"  class="needs-validation" novalidate="">
    <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}" />
        <div class="form-group">
            <div class="d-block">
                <label for="password" class="control-label">Mot de passe</label>
            </div>
            <input id="password" type="password" class="form-control" ng-style="passwordStrength" name="password" autocomplete="off" tabindex="2" required ng-model="password" ng-change="analyze(password)">
            <div class="invalid-feedback">
                please fill in your password
            </div>
        </div>
        <div class="form-group">
            <div class="d-block">
                <label for="password" class="control-label">Repeter Mot de passe</label>
            </div>
            <input id="confirm_password" type="password" class="form-control" name="repeated" autocomplete="off" tabindex="2" required>
            <div class="invalid-feedback">
                Mot de passe non identique
            </div>
        </div>
        <input value="{{email}}" type="hidden" name="email" />
        <div class="form-group">
            <button type="submit" id="submit_button" class="btn btn-primary btn-lg btn-block" tabindex="4" type="submit">
                Send
            </button>
        </div>
    </form>
</div>
{% endblock %}
{% block mark %}
Inscrit ? <a href="{{ path('security_login_form') }}">Connexion</a>
{% endblock %}